@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> My Online Shopping APP </h1>
    <p> I will make this site very beautiful and presentable, more contents coming soon </p>
</div>
