@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@*@Html.Partial(@"~\PartialViews\Calculator.cshtml")*@

@*C:\Users\Nikhil Shah\Desktop\Net Fullstack 03072022\032922-ASPNETWEBAPI\032922-ASPNETWEBAPI\day3\Dataannotation_demo\Dataannotation_demo\Views\PartialViews\Calculator.cshtml*@

<partial name="~/Views/PartialViews/Calculator.cshtml" />